@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.cdnfonts.com/css/times-new-roman');

* {
    margin: 0%; /* Seleciona a página inteira e tira a margem dela */
}

body {
    background-color: black;
    border-style: solid;
    border-color: #ff5e08; 
} /* adiciona uma cor de fundo e uma borda para a página */

a{
    text-decoration: none;
} /* tira a cor de hiperlink e o sublinhado da ancora */

.barra-de-navegacao {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "width" 100;
    background-color: #ff5e08;
    width: 100%;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
} /* Barra de navegação,da uma cor de fundo para a barra, alinha os conteudos,e muda a fnte dos textos na barras. */

#nome {
    margin-right: 420px;
    margin-left: 30px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    display: inline-block;
}  /* ajusta separadamente o conteudo nome na barra de navegação, adicionando um background e ajustando ele. */

#nav-sobre {
    margin-right: 90px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    display: inline-block;
} /* ajusta separadamente o conteudo sobre na barra de navegação, adicionando um background e ajustando ele. */


#nav-habilidades {
    margin-right: 90px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    display: inline-block;
} /* ajusta separadamente o conteudo habilidades na barra de navegação, adicionando um background e ajustando ele. */


#nav-projetos {
    margin-right: 90px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    display: inline-block;
} /* ajusta separadamente o conteudo projetos na barra de navegação, adicionando um background e ajustando ele. */


#nav-contatos {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    display: inline-block;
} /* ajusta separadamente o conteudo contatos na barra de navegação, adicionando um background e ajustando ele. */


#sobre {
    margin-top: 50px;
    margin-bottom: 200px;
    display: inline-block;
} /* mexe na sessão inteira de conteudos sobre, ajustando uma margem e alinhando os conteudos */

#fotosobre {
    margin-left: 80px;
    margin-right: 20px;
    display: inline-block;
    background-color: #ff5e08;
    padding: 8px;
    padding-bottom: 5px;
    border-radius: 10px;
} /* alinha e cria uma margem e um background para a foto de perfil */

#titulosobre {
    margin-bottom: 100px;
    font-family: "Open Sans", sans-serif;
} /* cria uma margem para o titulo sobre e muda a fonte do texto */

#textosobre {
    color: white;
    display: inline-block;
    width: 600px;
    margin-left: 300px;
    border-style: solid;
    border-color: #ff5e08;
    border-radius: 10px;
    padding: 20px;
} /* Alinha a sessão sobre e cria uma margem e tamanho para o texto e foto se alinharem; cria uma borda para o texto */

#paragrafosobre {
    font-family: 'Times New Roman', serif;
    font-optical-sizing: auto;
    font-weight: 200px;
    font-size: 20px;
    font-style: normal;
    font-variation-settings:"width" 100;
    
} /* muda a fonte do paragrafo sobre*/

#habilidades{
    color: white;
    margin-bottom: 125px;
} /* ajusta a cor dos textos e cria uma margem para a sessão */

#titulo-habilidade{
    font-family: "Open Sans", sans-serif;
    background-color: #ff5e08;
    border-radius: 20px;
    text-align: center;
    margin-left: 550px;
    margin-bottom: 180px;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
} /* ajusta a fonte do titulo, cria uma margiem e um background */

#habilidadescima{
    margin-bottom: 50px;
} /* cria uma margem para as imagens */

#imghtml{
    background-color: #ff5e08;
    border-radius: 20px;
    padding: 15px;
    margin-right: 100px;
    margin-left: 150px;
} /* cria uma margem entre as imagens, cria e ajusta o tamanho do background da imagem */

#imgcss{
    background-color: #ff5e08;
    border-radius: 20px;
    padding: 15px;
    margin-right: 100px;
}  /* cria uma margem entre as imagens, cria e ajusta o tamanho do background da imagem */

#imgjs{
    background-color: #ff5e08;
    border-radius: 20px;
    padding: 15px;
    margin-right: 100px;
}  /* cria uma margem entre as imagens, cria e ajusta o tamanho do background da imagem */

#imggit{
    background-color: #ff5e08;
    border-radius: 20px;
    padding: 15px;
    margin-right: 100px;
}  /* cria uma margem entre as imagens, cria e ajusta o tamanho do background da imagem */

#imggithub{
    background-color: #ff5e08;
    border-radius: 20px;
    padding: 15px;
    padding-top: 48px;
    margin-right: 100px;
    
}  /* cria uma margem entre as imagens, cria e ajusta o tamanho do background da imagem */

#imghardware{
    background-color: #ff5e08;
    border-radius: 20px;
    padding: 15px;
    margin-right: 100px;
    margin-left: 250px;
}  /* cria uma margem entre as imagens, cria e ajusta o tamanho do background da imagem */

#imgsoftware{
    background-color: #ff5e08;
    border-radius: 20px;
    padding: 15px;
    margin-right: 100px;
}  /* cria uma margem entre as imagens, cria e ajusta o tamanho do background da imagem */

#imgredes{
    background-color: #ff5e08;
    border-radius: 20px;
    padding: 15px;
    margin-right: 100px;
}  /* cria uma margem entre as imagens, cria e ajusta o tamanho do background da imagem */

#imgcloud{
    background-color: #ff5e08;
    border-radius: 20px;
    padding: 15px;
    margin-right: 100px;
}  /* cria uma margem entre as imagens, cria e ajusta o tamanho do background da imagem */

#projeto{
    color: white;
    display: inline-block;
} /* ajusta a cor dos textos da sessão e alinha os conteudos */

#titulo-projeto{
    font-family: "Open Sans", sans-serif;
    background-color: #ff5e08;
    border-radius: 20px;
    text-align: center;
    color: white;
    margin-left: 320px;
    margin-bottom: 180px;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
}  /* ajusta a fonte do titulo, cria uma margem e um background */

.imagens-projetos{
    display: inline-block;
    margin-bottom: 200px;
} /* alinha as imagens e cria uma margem entre elas */

#projeto-zara{
    margin-left: 220px;
    margin-right: 100px;
} /* ajusta a margem entre as imagens */

#titulo-contatos{
    font-family: "Open Sans", sans-serif;
    background-color: #ff5e08;
    border-radius: 20px;
    text-align: center;
    color: white;
    margin-left: 580px;
    margin-bottom: 180px;
    margin-top: 180px;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
} /* ajusta a fonte do titulo, cria uma margem e um background */


#img-contato-github{
    background-color: #ff5e08;
    border-radius: 20px;
    padding: 15px;
    padding-bottom: 38px;
    padding-top: 48px;
    margin-right: 100px;
    margin-left: 212px;
} /* cria um background para a imagem, ajusta o tamanho do background e cria uma margem para o distanciar dos outros conteudos */

#img-contato-outlook{
    background-color: #ff5e08;
    border-radius: 20px;
    padding: 38px;
    margin-right: 100px;
    margin-left: 150px;
}  /* cria um background para a imagem, ajusta o tamanho do background e cria uma margem para o distanciar dos outros conteudos */

#img-contato-linkedin{
    background-color: #ff5e08;
    border-radius: 20px;
    padding: 20px;
    margin-right: 100px;
    margin-left: 150px;
}  /* cria um background para a imagem, ajusta o tamanho do background e cria uma margem para o distanciar dos outros conteudos */

.rodape{
    margin-top: 200px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-weight: 200px;
    font-style: normal;
    font-size: 25px;
    font-variation-settings: "wdth" 100;
    background-color: #ff5e08;
    color: white;
    width: 100%;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px; 
} /* Rodapé com uma margem que o distancia dos conteudos acima; ajusta a fonte, tamanho e posição do texto; cria um background e ajusta seu tamanho e cor */

