@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.cdnfonts.com/css/times-new-roman');

* {
    margin: 0%;
}

body {
    background-color: black;
}

.nav {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: #ff5e08;
    width: 100%;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
}

#nome {
    margin-right: 450px;
    margin-left: 30px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
}

#sobre {
    margin-right: 90px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
}

#habilidades {
    margin-right: 90px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
}

#projetos {
    margin-right: 90px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
}

#contatos {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
}

.section-sobre {
    margin-top: 50px;
    margin-bottom: 90px;
    display: inline-block;
}

#articlesobre {
    margin-left: 80px;
    margin-right: 20px;
    display: inline-block;
}

#titulosobre {
    margin-bottom: 100px;
}

#articlesobre2 {
    color: white;
    display: inline-block;
    width: 600px;
    margin-left: 300px;
}

#p1 {
    font-family: 'Times New Roman', sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:"width" 100;
}